@use 'src/shared/ui/variables' as variables

.formContainer
  font-size: 18px
  color: variables.$dark-brown
  h3
    margin-bottom: 0
  h3, h4
    text-align: center
  h4
    margin: 0
    font-weight: normal

  form
    display: flex
    flex-direction: column

    label
      font-weight: bold
      p
        margin: 5px

    .subTasks
      display: flex
      .title
        font-weight: bold
        margin: 3px 0
  .saveButton
    align-self: center

